<a href="https://colab.research.google.com/github/HannaSuh0/colab/blob/main/Lession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num1 = 100
num2 = 200

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2

print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "*", num2, "=", result3)
print(num1, "/", num2, "=", result4)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

In [4]:
print("## 택배를 보내기 위한 정보를 입력하세요. ##")
personName = input("받는 사람 : ")
personAddr = input("주소 : ")
weight = int(input("무게(g) :"))

print("** 받는 사람 ==>", personName)
print("** 주소 =>", personAddr)

print("** 배송비 ==>", weight *5, "원")

## 택배를 보내기 위한 정보를 입력하세요. ##
받는 사람 : 서한나
주소 : 안산공고
무게(g) :100
** 받는 사람 ==> 서한나
** 주소 => 안산공고
** 배송비 ==> 500 원

In [6]:
num1 = int(input("숫자1 ==> "))
num2 = int(input("숫자2 ==> "))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 % num2
result6 = num1 ** num2

print(num1, "+", num2, "=", result1 )
print(num1, "-", num2, "=", result2 )
print(num1, "*", num2, "=", result3 )
print(num1, "/", num2, "=", result4 )
print(num1, "%", num2, "=", result5 )
print(num1, "**", num2, "=", result6 )

숫자1 ==> 3
숫자2 ==> 2
3 + 2 = 5
3 - 2 = 1
3 * 2 = 6
3 / 2 = 1.5
3 % 2 = 1
3 ** 2 = 9